In [1]:
# Dependencies
import requests
import pandas as pd
from datetime import datetime
import time

In [2]:
# Performing a GET request
url = f"https://data.cityofchicago.org/resource/6zsd-86xi.json?$where=date between '2018-01-01T12:00:00' and '2020-12-31T23:59:59'&$limit=999999"
response = requests.get(url, headers={'X-App-Token': 'sHnYdgN0R99FCTwp5SfGKbKEL'}).json()

In [3]:
# Storing the retrieved data in a DataFrame
crime_data = pd.DataFrame(response)

In [78]:
crime_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 739505 entries, 0 to 739504
Data columns (total 26 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    739505 non-null  object
 1   case_number           739505 non-null  object
 2   date                  739505 non-null  object
 3   block                 739505 non-null  object
 4   iucr                  739505 non-null  object
 5   primary_type          739505 non-null  object
 6   description           739505 non-null  object
 7   location_description  736133 non-null  object
 8   arrest                739505 non-null  bool
 9   domestic              739505 non-null  bool
 10  beat                  739505 non-null  object
 11  district              739505 non-null  object
 12  ward                  739477 non-null  object
 13  community_area        739504 non-null  object
 14  fbi_code              739505 non-null  object
 15  year                  739505 non-null  object
 16  updated_on            739505 non-null  object
 17  x_coordinate          730546 non-null  object
 18  y_coordinate          730546 non-null  object
 19  latitude              730546 non-null  object
 20  longitude             730546 non-null  object
 21  location              730546 non-null  object
 22  location_address      730546 non-null  object
 23  location_city         730546 non-null  object
 24  location_state        730546 non-null  object
 25  location_zip          730546 non-null  object
dtypes: bool(2), object(24)
memory usage: 136.8+ MB

In [79]:
crime_data.head()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,updated_on,x_coordinate,y_coordinate,latitude,longitude,location,location_address,location_city,location_state,location_zip
0,11620927,JC183043,2018-01-01T12:00:00.000,027XX W 84TH ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,2019-03-13T16:11:31.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11196827,JB106420,2018-01-01T12:00:00.000,036XX S COTTAGE GROVE AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,APARTMENT,False,False,...,2018-05-04T15:51:04.000,1181587,1880961,41.828592635,-87.609271913,"{'type': 'Point', 'coordinates': [-87.60927191...",,,,
2,11199499,JB110040,2018-01-01T12:00:00.000,006XX E 90TH ST,0890,THEFT,FROM BUILDING,RESIDENCE,False,False,...,2018-05-04T15:51:04.000,1182033,1845441,41.731112102,-87.608733727,"{'type': 'Point', 'coordinates': [-87.60873372...",,,,
3,11200544,JB111256,2018-01-01T12:00:00.000,056XX S BISHOP ST,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,...,2018-05-04T15:51:04.000,1167629,1867272,41.791339919,-87.66087553,"{'type': 'Point', 'coordinates': [-87.66087553...",,,,
4,11202116,JB113444,2018-01-01T12:00:00.000,097XX S FOREST AVE,1130,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,RESIDENCE,False,False,...,2018-05-04T15:51:04.000,1179968,1840406,41.717342887,-87.61645211,"{'type': 'Point', 'coordinates': [-87.61645211...",,,,

In [80]:
crime_data.columns.to_list()

['id',
 'case_number',
 'date',
 'block',
 'iucr',
 'primary_type',
 'description',
 'location_description',
 'arrest',
 'domestic',
 'beat',
 'district',
 'ward',
 'community_area',
 'fbi_code',
 'year',
 'updated_on',
 'x_coordinate',
 'y_coordinate',
 'latitude',
 'longitude',
 'location',
 'location_address',
 'location_city',
 'location_state',
 'location_zip']

In [81]:
crime_data2 = crime_data[["date", "primary_type", "location_description"]]

In [82]:
crime_data2

,date,primary_type,location_description
0,2018-01-01T12:00:00.000,DECEPTIVE PRACTICE,RESIDENCE
1,2018-01-01T12:00:00.000,OTHER OFFENSE,APARTMENT
2,2018-01-01T12:00:00.000,THEFT,RESIDENCE
3,2018-01-01T12:00:00.000,BURGLARY,RESIDENCE
4,2018-01-01T12:00:00.000,DECEPTIVE PRACTICE,RESIDENCE
...,...,...,...
739500,2020-12-31T23:45:00.000,CRIMINAL DAMAGE,APARTMENT
739501,2020-12-31T23:45:00.000,THEFT,RESIDENCE
739502,2020-12-31T23:45:00.000,THEFT,HOTEL / MOTEL
739503,2020-12-31T23:51:00.000,BATTERY,STREET
739504,2020-12-31T23:59:00.000,THEFT,PARKING LOT / GARAGE (NON RESIDENTIAL)

In [83]:
index_types = crime_data2[(crime_data2['primary_type'] == "RITUALISM") | (crime_data2['primary_type'] == "NON-CRIMINAL (SUBJECT SPECIFIED)") | (crime_data2['primary_type'] == "NON-CRIMINAL")].index

In [84]:
crime_data2.drop(index_types, inplace =True)

C:\Users\pvpch\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [85]:
crime_data2['primary_type'].replace("CRIM SEXUAL ASSAULT", "CRIMINAL SEXUAL ASSAULT", inplace=True)

C:\Users\pvpch\anaconda3\lib\site-packages\pandas\core\series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [86]:
crime_data2['location_description'] = crime_data2['location_description'].str.replace(" / ", "/")

<ipython-input-86-1b4d1b319850>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_data2['location_description'] = crime_data2['location_description'].str.replace(" / ", "/")

In [87]:
crime_data2['location_description'].replace("RESIDENCE-GARAGE", "RESIDENCE - GARAGE", inplace=True)

In [88]:
crime_data2['location_description'].replace("SCHOOL, PRIVATE, BUILDING", "SCHOOL - PRIVATE BUILDING", inplace=True)

In [89]:
crime_data2['location_description'].replace("SCHOOL, PRIVATE, GROUNDS", "SCHOOL - PRIVATE GROUNDS", inplace=True)

In [90]:
crime_data2['location_description'].replace("SCHOOL, PUBLIC, BUILDING", "SCHOOL - PUBLIC BUILDING", inplace=True)

In [91]:
crime_data2['location_description'].replace("SCHOOL, PUBLIC, GROUNDS", "SCHOOL - PUBLIC GROUNDS", inplace=True)

In [92]:
crime_data2['primary_type'].value_counts()

THEFT                                168842
BATTERY                              140682
CRIMINAL DAMAGE                       79323
ASSAULT                               59247
DECEPTIVE PRACTICE                    55930
OTHER OFFENSE                         46506
NARCOTICS                             36074
BURGLARY                              30098
MOTOR VEHICLE THEFT                   28868
ROBBERY                               25518
WEAPONS VIOLATION                     20208
CRIMINAL TRESPASS                     17895
OFFENSE INVOLVING CHILDREN             6470
CRIMINAL SEXUAL ASSAULT                4462
PUBLIC PEACE VIOLATION                 4162
INTERFERENCE WITH PUBLIC OFFICER       3506
SEX OFFENSE                            3384
HOMICIDE                               1892
PROSTITUTION                           1673
ARSON                                  1332
LIQUOR LAW VIOLATION                    642
STALKING                                630
CONCEALED CARRY LICENSE VIOLATION       514
INTIMIDATION                            492
KIDNAPPING                              464
GAMBLING                                368
OBSCENITY                               198
PUBLIC INDECENCY                         34
HUMAN TRAFFICKING                        31
OTHER NARCOTIC VIOLATION                 15
Name: primary_type, dtype: int64

In [93]:
crime_data2['location_description'].value_counts()

STREET                 165921
RESIDENCE              126610
APARTMENT              105397
SIDEWALK                54905
OTHER                   22723
                        ...
CHA PLAY LOT                1
GOVERNMENT BUILDING         1
SCHOOL YARD                 1
CLUB                        1
NURSING HOME                1
Name: location_description, Length: 159, dtype: int64

In [21]:
# crime_data_grouped = crime_data2.groupby(['primary_type', 'location_description']).size().reset_index(name='count').sort_values(by=['count'], ascending=False)

In [94]:
crime_data_grouped = crime_data2.groupby(['primary_type', 'location_description']).size().reset_index(name='count').sort_values(by=['primary_type', 'count'], ascending=(True,False))

In [95]:
crime_data_grouped

           primary_type                          location_description  count
56                ARSON                        VEHICLE NON-COMMERCIAL    376
38                ARSON                                     RESIDENCE    192
2                 ARSON                                     APARTMENT    132
39                ARSON                            RESIDENCE - GARAGE    102
52                ARSON                                        STREET     89
...                 ...                                           ...    ...
1978  WEAPONS VIOLATION               OTHER COMMERCIAL TRANSPORTATION      1
1986  WEAPONS VIOLATION                                     POOL ROOM      1
1994  WEAPONS VIOLATION                              SAVINGS AND LOAN      1
2001  WEAPONS VIOLATION                          SPORTS ARENA/STADIUM      1
2012  WEAPONS VIOLATION  VEHICLE-COMMERCIAL - ENTERTAINMENT/PARTY BUS      1

[2014 rows x 3 columns]

In [96]:
crime_data_grouped.reset_index(drop=True, inplace=True)

In [97]:
crime_data_grouped

           primary_type                          location_description  count
0                 ARSON                        VEHICLE NON-COMMERCIAL    376
1                 ARSON                                     RESIDENCE    192
2                 ARSON                                     APARTMENT    132
3                 ARSON                            RESIDENCE - GARAGE    102
4                 ARSON                                        STREET     89
...                 ...                                           ...    ...
2009  WEAPONS VIOLATION               OTHER COMMERCIAL TRANSPORTATION      1
2010  WEAPONS VIOLATION                                     POOL ROOM      1
2011  WEAPONS VIOLATION                              SAVINGS AND LOAN      1
2012  WEAPONS VIOLATION                          SPORTS ARENA/STADIUM      1
2013  WEAPONS VIOLATION  VEHICLE-COMMERCIAL - ENTERTAINMENT/PARTY BUS      1

[2014 rows x 3 columns]

In [98]:
crime_data_grouped.to_csv(r'location_crime_data.csv', index=False)