In [1]:
# Dependencies
import requests
import pandas as pd
from datetime import datetime
import time

In [92]:
# Performing a GET request
url = f"https://data.cityofchicago.org/resource/6zsd-86xi.json?$where=date between '2018-01-01T12:00:00' and '2020-12-31T23:59:59'&$limit=999999"
response = requests.get(url, headers={'X-App-Token': 'TOKEN'}).json()

In [93]:
# Storing the retrieved data in a DataFrame
crime_data = pd.DataFrame(response)

In [94]:
crime_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 739449 entries, 0 to 739448
Data columns (total 26 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    739449 non-null  object
 1   case_number           739449 non-null  object
 2   date                  739449 non-null  object
 3   block                 739449 non-null  object
 4   iucr                  739449 non-null  object
 5   primary_type          739449 non-null  object
 6   description           739449 non-null  object
 7   location_description  736079 non-null  object
 8   arrest                739449 non-null  bool
 9   domestic              739449 non-null  bool
 10  beat                  739449 non-null  object
 11  district              739449 non-null  object
 12  ward                  739421 non-null  object
 13  community_area        739448 non-null  object
 14  fbi_code              739449 non-null  object
 15  year                  739449 non-null  object
 16  updated_on            739449 non-null  object
 17  x_coordinate          730556 non-null  object
 18  y_coordinate          730556 non-null  object
 19  latitude              730556 non-null  object
 20  longitude             730556 non-null  object
 21  location              730556 non-null  object
 22  location_address      730556 non-null  object
 23  location_city         730556 non-null  object
 24  location_state        730556 non-null  object
 25  location_zip          730556 non-null  object
dtypes: bool(2), object(24)
memory usage: 136.8+ MB

In [72]:
crime_data.head()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,y_coordinate,year,updated_on,latitude,longitude,location,location_address,location_city,location_state,location_zip
0,12050586,JD232221,2020-01-01T12:00:00.000,054XX N SHERIDAN RD,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,APARTMENT,False,False,...,1936265,2020,2020-05-17T15:46:16.000,41.980639456,-87.65510293,"{'type': 'Point', 'coordinates': [-87.65510293...",,,,
1,12252196,JD467579,2020-01-01T12:00:00.000,040XX W 115TH ST,0497,BATTERY,AGGRAVATED DOMESTIC BATTERY - OTHER DANGEROUS ...,RESIDENCE,False,True,...,1828011,2020,2020-12-26T15:48:40.000,41.683936153,-87.721865668,"{'type': 'Point', 'coordinates': [-87.72186566...",,,,
2,12046200,JD227105,2020-01-01T12:00:00.000,041XX W FIFTH AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,1896468,2020,2020-05-10T15:44:54.000,41.871843153,-87.729550851,"{'type': 'Point', 'coordinates': [-87.72955085...",,,,
3,12053410,JD235586,2020-01-01T12:00:00.000,044XX S PRINCETON AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,False,False,...,1875345,2020,2020-05-21T15:45:25.000,41.813330895,-87.633485668,"{'type': 'Point', 'coordinates': [-87.63348566...",,,,
4,11938579,JD100591,2020-01-01T12:00:00.000,025XX W 59TH ST,0312,ROBBERY,ARMED:KNIFE/CUTTING INSTRUMENT,ALLEY,False,False,...,1865452,2020,2020-01-08T15:49:48.000,41.786499885,-87.687821681,"{'type': 'Point', 'coordinates': [-87.68782168...",,,,

In [5]:
crime_data.columns.to_list()

['id',
 'case_number',
 'date',
 'block',
 'iucr',
 'primary_type',
 'description',
 'location_description',
 'arrest',
 'domestic',
 'beat',
 'district',
 'ward',
 'community_area',
 'fbi_code',
 'x_coordinate',
 'y_coordinate',
 'year',
 'updated_on',
 'latitude',
 'longitude',
 'location',
 ':@computed_region_awaf_s7ux',
 ':@computed_region_6mkv_f3dw',
 ':@computed_region_vrxf_vc4k',
 ':@computed_region_bdys_3d7i',
 ':@computed_region_43wa_7qmu',
 ':@computed_region_rpca_8um6',
 ':@computed_region_d9mm_jgwp',
 ':@computed_region_d3ds_rm58']

In [95]:
crime_data2 = crime_data[["date", "primary_type"]]

In [89]:
crime_data2

                           date        primary_type
0       2020-01-01T12:00:00.000       OTHER OFFENSE
1       2020-01-01T12:00:00.000             BATTERY
2       2020-01-01T12:00:00.000  DECEPTIVE PRACTICE
3       2020-01-01T12:00:00.000  DECEPTIVE PRACTICE
4       2020-01-01T12:00:00.000             ROBBERY
...                         ...                 ...
291317  2021-06-08T23:37:00.000   WEAPONS VIOLATION
291318  2021-06-08T23:40:00.000             BATTERY
291319  2021-06-08T23:45:00.000             BATTERY
291320  2021-06-08T23:50:00.000       OTHER OFFENSE
291321  2021-06-08T23:55:00.000             BATTERY

[291322 rows x 2 columns]

In [120]:
crime_data2["month"] = pd.to_datetime(crime_data2.date).dt.strftime("%b")

<ipython-input-120-086f3aa1ef06>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_data2["month"] = pd.to_datetime(crime_data2.date).dt.strftime("%b")

In [146]:
crime_data2

                           date        primary_type month
0       2018-01-01T12:00:00.000  DECEPTIVE PRACTICE   Jan
1       2018-01-01T12:00:00.000       OTHER OFFENSE   Jan
2       2018-01-01T12:00:00.000               THEFT   Jan
3       2018-01-01T12:00:00.000            BURGLARY   Jan
4       2018-01-01T12:00:00.000  DECEPTIVE PRACTICE   Jan
...                         ...                 ...   ...
739444  2020-12-31T23:45:00.000     CRIMINAL DAMAGE   Dec
739445  2020-12-31T23:45:00.000               THEFT   Dec
739446  2020-12-31T23:45:00.000               THEFT   Dec
739447  2020-12-31T23:51:00.000             BATTERY   Dec
739448  2020-12-31T23:59:00.000               THEFT   Dec

[739405 rows x 3 columns]

In [148]:
index_types = crime_data2[(crime_data2['primary_type'] == "RITUALISM") | (crime_data2['primary_type'] == "NON-CRIMINAL (SUBJECT SPECIFIED)") | (crime_data2['primary_type'] == "NON-CRIMINAL")].index

In [149]:
crime_data2.drop(index_types, inplace =True)

C:\Users\pvpch\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [182]:
crime_data2['primary_type'].replace("CRIM SEXUAL ASSAULT", "CRIMINAL SEXUAL ASSAULT", inplace=True)

C:\Users\pvpch\anaconda3\lib\site-packages\pandas\core\series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [183]:
crime_data2['primary_type'].value_counts()

THEFT                                168837
BATTERY                              140679
CRIMINAL DAMAGE                       79321
ASSAULT                               59246
DECEPTIVE PRACTICE                    55899
OTHER OFFENSE                         46502
NARCOTICS                             36066
BURGLARY                              30097
MOTOR VEHICLE THEFT                   28868
ROBBERY                               25519
WEAPONS VIOLATION                     20208
CRIMINAL TRESPASS                     17895
OFFENSE INVOLVING CHILDREN             6471
CRIMINAL SEXUAL ASSAULT                4462
PUBLIC PEACE VIOLATION                 4161
INTERFERENCE WITH PUBLIC OFFICER       3506
SEX OFFENSE                            3383
HOMICIDE                               1892
PROSTITUTION                           1673
ARSON                                  1332
LIQUOR LAW VIOLATION                    642
STALKING                                629
CONCEALED CARRY LICENSE VIOLATION       514
INTIMIDATION                            492
KIDNAPPING                              464
GAMBLING                                368
OBSCENITY                               198
PUBLIC INDECENCY                         34
HUMAN TRAFFICKING                        31
OTHER NARCOTIC VIOLATION                 15
Name: primary_type, dtype: int64

In [184]:
crime_data_grouped = crime_data2.groupby(['month', 'primary_type']).size().reset_index(name='counts').sort_values(by=['month'])

In [185]:
crime_data_grouped['month_num'] = pd.DatetimeIndex(pd.to_datetime(crime_data_grouped['month'], format='%b')).month

In [186]:
crime_data_grouped.sort_values(by=['month_num', 'counts'], inplace=True)

In [187]:
crime_data_grouped['month'] = crime_data_grouped['month'].str.upper()

In [188]:
# crime_data_grouped['normalized'] = (crime_data_grouped['counts']-crime_data_grouped['counts'].min())/(crime_data_grouped['counts'].max()-crime_data_grouped['counts'].min())

In [189]:
crime_data_grouped.drop(columns=['month_num'], inplace=True)

In [190]:
crime_data_grouped.reset_index(drop=True, inplace=True)

In [191]:
crime_data_grouped

    month                       primary_type  counts  normalized
0     JAN           OTHER NARCOTIC VIOLATION       2    0.000060
1     JAN                  HUMAN TRAFFICKING       5    0.000241
2     JAN                           GAMBLING      11    0.000603
3     JAN                          OBSCENITY      19    0.001086
4     JAN  CONCEALED CARRY LICENSE VIOLATION      31    0.001810
..    ...                                ...     ...         ...
349   DEC                            ASSAULT    4400    0.265416
350   DEC                    CRIMINAL DAMAGE    5901    0.355979
351   DEC                 DECEPTIVE PRACTICE    5990    0.361349
352   DEC                            BATTERY   10400    0.627429
353   DEC                              THEFT   14040    0.847050

[354 rows x 4 columns]

In [192]:
crime_data_grouped.to_csv(r'grouped_crime_monthly.csv', index=False)